!!!5
%html
	%head
		%link(href="css/main.css" rel="stylesheet" type="text/css")
		%meta(charset="utf-8")
		%title 2do desafio htmlIII de cosa rara que no usare ;p
	%body
		.navegacion
			%header
				%Figure
					%img(src="img/logo.png" alt="Logo" title="CanaimaCHAVISTAnomuestralaIMAGENAAAAAAAAAAAA!")
				%nav.navegacion_links
					%ul
						%li 
							%a(href="#") Inicio
						%li 
							%a(href="#")Portafolio
						%li 
							%a(href="#")Sobre mi
						%li 
							%a(href="#")Contacto
		.contenedor					
			.titulo 
				%h1 Portafolio
			.portafolio
				.tarjeta_presentacion
					%img(src="img/proyecto-1.jpg" title="pasaporte negro" alt="tarjeta de presentacion 1")
					.tarjeta-presentacion-contenido-1
						%h2 Tarjeta de presentacion
				.tarjeta_presentacion
					%img(src="img/proyecto-2.jpg" title="pastillas losartan" alt="tarjeta de presentacion 2")
					.tarjeta-presentacion-contenido-2
						%h2 Tarjeta de presentacion
				.tarjeta_presentacion
					%img(src="img/proyecto-3.jpg" title="kit escolar" alt="tarjeta de presentacion 3")
					.tarjeta-presentacion-contenido-3
						%h2 Papeleria corporativa
				.tarjeta_presentacion
					%img(src="img/proyecto-4.jpg" title="tipica mesa gringa-capitalista" alt="tarjeta de presentacion 4")
					.tarjeta-presentacion-contenido-4
						%h2 Sitio web Responsive
