$color-principal: lightblue
$espacios:1.5%
.proyecto
	width:30%
	margin:auto
	position:relative
	overflow: hidden

	&:hover .proyecto-texto
		transform: translatex(0%)

	&-imagen
		width:100%
	&-texto
		width:100%
		background: $color-principal
		padding: $espacios
		position: absolute
		bottom: 0
		transform: translatex(100%)
		transition: all .5s
		font:
			size:20px
			weight:bold