* {
  padding: 0;
  margin: 0;
  border: 0;
  text-decoration: none;
  font-weight: bold;
  font-family: Raleway; }

ul li {
  color: white;
  display: inline-block;
  text-transform: capitalize;
  padding: 5px;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s; }
  ul li:hover {
    border-radius: 2.5px;
    background: #f57f17;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s; }

figure img {
  width: 45%; }

.fondo_negro {
  width: 100%;
  height: 100px;
  background: black; }

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

section {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 35px;
  color: #f57f17; }

h2 {
  margin-left: 9%;
  width: 81%;
  padding-bottom: 30px;
  border-bottom: 1px solid gray; }

.clasequeusoparalanota:hover, .todas-las-cajas .grid-item:hover {
  opacity: 0.5;
  filter: alpha(opacity=50); }

.todas-las-cajas {
  display: grid;
  grid-template-rows: repeat(5, 150px);
  /*filas*/
  grid-template-columns: repeat(11, auto);
  grid-row-gap: 35px;
  /*espacio entre las filas*/
  grid-column-gap: 40px;
  /*espacio entre las columnas*/
  margin-top: 20px;
  width: 90%; }
  .todas-las-cajas .grid-item:nth-child(1) {
    background-image: url(../img/img1.jpeg);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }
  .todas-las-cajas .grid-item:nth-child(2) {
    background-image: url(../img/img2.jpeg);
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 4;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }
  .todas-las-cajas .grid-item:nth-child(3) {
    background-image: url(../img/img3.jpeg);
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 1;
    grid-row-end: 2;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }
  .todas-las-cajas .grid-item:nth-child(4) {
    background-image: url(../img/img4.jpeg);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }
  .todas-las-cajas .grid-item:nth-child(5) {
    background-image: url(../img/img5.jpeg);
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 2;
    grid-row-end: 3;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }
  .todas-las-cajas .grid-item:nth-child(6) {
    background-image: url(../img/img6.jpeg);
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }
  .todas-las-cajas .grid-item:nth-child(7) {
    background-image: url(../img/img7.jpeg);
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 3;
    grid-row-end: 4;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }
  .todas-las-cajas .grid-item:nth-child(8) {
    background-image: url(../img/img9.jpeg);
    grid-column-start: 2;
    grid-column-end: 9;
    grid-row-start: 4;
    grid-row-end: 6;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }
  .todas-las-cajas .grid-item:nth-child(9) {
    background-image: url(../img/img8.jpeg);
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: 4;
    grid-row-end: 6;
    background-size: cover;
    -o-object-fit: cover;
    object-fit: cover; }

footer h3 {
  display: inline-block;
  color: #f57f17;
  font-family: "Playfair Display", serif; }

footer p {
  display: inline-block;
  color: white; }

footer, h3, p + img {
  text-align: center;
  margin-top: 3%; }

.footer-flex {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.img-flex {
  padding-right: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .img-flex img {
    width: 2%;
    height: 25px;
    margin: 0px 5px 0px 5px; }
