$negro:rgb(0,0,0);
$anaranjado:rgb(245,127,23);
//#F57F17: este es el anaranjado que solicito pero el trisexual preprocesador
//no lo quizo tomar. salu2
$titulo:"Playfair Display",serif;
$texto:Raleway;