!!!5
%html
 %meta(charset="utf-8")
 %link(rel="stylesheet" type="text/css" href="bonito.css")
 %body
  %div(id="nav")
   %figure
    %img(src="Recursos/logo.png")
   %nav
    %ul
     %li 
      %a Inicio
     %li 
      %a Portafolio
     %li 
      %a Sobre mí
     %li 
      %a Contacto
  %div(id="portafolio")
   %h1 Portafolio  
   %div(id="Tarjeta1")
    %img(src="Recursos/proyecto-1.jpg")
    %div(id="mensaje1")
     %p Tarjeta de Presentación 
   %div(id="Tarjeta2")
    %img(src="Recursos/proyecto-2.jpg")
    %div(id="mensaje2")
     %p Tarjeta de Presentación     
   %div(id="Tarjeta3")   
    %img(src="Recursos/proyecto-3.jpg")
    %div(id="mensaje3")
     %p Papelería Corporativa 
   %div(id="Tarjeta4")   
    %img(src="Recursos/proyecto-4.jpg")
    %div(id="mensaje4")
     %p Sitio Web Responsive 

