!!!5 
/esto hace que sepa que es html5
/todas las etiquetas de declaran antes con el signo de % 
%html
   %head
      %meta(charset="utf-8")
      %title preprocesadores
      %link(href="css/estilos.css" rel="stylesheet" type="text/css" )
   %body
      %header
         %figure
            %img(src="img/logo.svg" alt="Logo" id="logo_nav")

         %nav
            %ul
               %li
                  %a(href="#") Item 1
               %li
                  %a(href="#") Item 2
               %li
                  %a(href="#") Item 1
      %section(class="galeria")
         .imagen
            %img(src="img/Koala.jpg" alt="imagen" title="imagen")
                     

 