!!!5
%html
	%head
		%link(href="css/estilos.css" rel="stylesheet" type="text/css")
		%meta(charset="utf-8")
		%title 2do desafio htmlIII de cosa rara que no usare ;p
	%body
		.navegacion
			%header
				%Figure
					%img(src="img/logo.png" alt="Logo" title="CanaimaCHAVISTAnomuestralaIMAGENAAAAAAAAAAAA!")
				%nav.navegacion_links
					%ul
						%li 
							%a(href="#") Inicio
						%li 
							%a(href="#")Portafolio
						%li 
							%a(href="#")Sobre mi
						%li 
							%a(href="#")Contacto
		.titulo 
			%section
				%h1 Portafolio
		.servicios
			#tarjeta_presentacion1
				%img(src="img/proyecto-1.jpg" title="pasaporte negro" alt="tarjeta de presentacion 1")
				._tarjeta_presentacio_contenido
					%h2 Tarjeta de resentacion
			#tarjeta_presentacion2
				%img(src="img/proyecto-2.jpg" title="pastillas losartan" alt="tarjeta de presentacion 2")
				._tarjeta_presentacio_contenido
					%h2 Tarjeta de resentacion
			#tarjeta_presentacion3
				%img(src="img/proyecto-3.jpg" title="kit escolar" alt="tarjeta de presentacion 3")
				._tarjeta_presentacio_contenido
					%h2 Papeleria corporativa
			#tarjeta_presentacion4
				%img(src="img/proyecto-4.jpg" title="tipica mesa gringa-capitalista" alt="tarjeta de presentacion 4")
				._tarjeta_presentacio_contenido
					%h2 Sitio web Responsive
